{% extends 'superdemo/base_bootstrap.html.twig' %}

{% block title %}Demo1{% endblock %}

{% block content_body %}
      <h1>SuperDemo - Demo1</h1>
      <p>Esta es una pequeña demo del potencial de Twig.</p>
{% endblock %}
