{% extends 'superdemo/base_login.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block login_header %}
	Bienvenido
{% endblock %}

{% block login_body %}
	<p>Acaba de ingresar en este sitio web: ¡Bienvenido!</p>
{% endblock %}

{% block login_footer %}
	Comenzar
{% endblock %}
