{% extends 'extendsimpledemo_base.html.twig' %}

{% block title %}Título personalizado{% endblock %}

{% block body %}
	<p>Esto es un ejemplo sencillo de cómo extender una plantilla Twig</p>
{% endblock %}
