<h3>Tipos de sintaxis especial:</h3>

<p><i>Dice algo</i>. Imprime un valor: {{ count }}</p>

<p><i>Hace algo</i>. Bucles, if, etc: {% if count == 10 %} variable count es igual a 10 {% endif %}

<p>{# Comentarios #}</p>
